<div #container>
  <app-chart
    [dimensions]="dimensions">
    <svg:g appAxis
      dimension="x"
      [attr.dimensions]="dimensions"
      [attr.scale]="xScale"
      [attr.label]="xLabel">
    </svg:g>
    <svg:g appAxis
      dimension="y"
      [attr.dimensions]="dimensions"
      [attr.scale]="yScale"
      [attr.label]="yLabel">
    </svg:g>
    <svg:g appCircles
      [attr.data]="data"
      [attr.keyAccessor]="keyAccessor"
      [attr.xAccessor]="xAccessorScaled"
      [attr.yAccessor]="yAccessorScaled">
    </svg:g>
  </app-chart>
</div>
