<!-- <div id="wrapper2"></div>
<div id="wrapper"></div> -->

<div [id]="chartId"></div>

<div class="mb-3">
  <ul>
    <li class="mb-3">
      A diverging bar chart is a bar chart that has the marks for some dimension
      members pointing up or right, and the marks for other dimension members
      pointing in the opposite direction (down or left, respectively).
    </li>
    <li class="mb-3">
      Input dataset provides the name, their corresponding numeric value,
      position, and Color(optional to customize bars colors).
    </li>
    <li class="mb-3">
      Component inputs :
      <ul class="mt-2">
        <li class="mb-2">
          <strong>data: </strong>It is an array of objects (dataset), each
          object contains the name, their corresponding numeric value, position,
          and Color(optional to customize bars colors)<i
            >(<strong>
              name:&nbsp;string; &nbsp;value:&nbsp;string;
              &nbsp;position:&nbsp;number; color?:&nbsp;string </strong
            >)</i
          >
        </li>
        <li class="mb-2">
          <strong>legendTitle: </strong> It is the title of the chart
        </li>
        <li class="mb-2">
          <strong>legendSubtitle: </strong> It is the sub title of the chart
        </li>
      </ul>
    </li>
  </ul>
</div>