<h3>D3 sandbox</h3>

<nav>
  <ul>
    <li>
      <a routerLink="/baseball">Baseball</a>
    </li>
    <li>
      <a routerLink="/bubblechart">Bubble Chart</a>
    </li>
    <!-- <li>
      <a routerLink="/bubblechart2">Bubble Chart2</a>
    </li> -->
  </ul>
</nav>

<router-outlet></router-outlet>

<!-- <app-baseball></app-baseball> -->

<!-- <h1>D3 Bubble Chart with Brush</h1>
<app-bubble-chart></app-bubble-chart> -->

<!-- <h1>D3 Bubble Chart2 with Brush and added functionality</h1>
<app-bubble-chart2></app-bubble-chart2> -->
