<div style="display: flex">
  <div class="nav-header">
    <h1>D3 sandbox</h1>
  </div>
  <div class="nav-details">
    <a class="nav-detail" routerLink="/baseball">Baseball</a>
    <a class="nav-detail" routerLink="/bubblechart">Bubble Chart</a>
    <a class="nav-detail" routerLink="/nodes">Node Graph</a> 
  </div>
</div>

<router-outlet></router-outlet>

<!-- <app-baseball></app-baseball> -->

<!-- <h1>D3 Bubble Chart with Brush</h1>
<app-bubble-chart></app-bubble-chart> -->

<!-- <h1>D3 Bubble Chart2 with Brush and added functionality</h1>
<app-bubble-chart2></app-bubble-chart2> -->
