.nav-container {
    display: flex;
    background-color: aqua;
    padding-left: 10px;
}

.nav-details {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.nav-detail {
    margin-left: 3px;
    margin-right: 3px;

}
.nav-detail:hover {
    color: red;
}