<div class="nav-container">
  <div class="nav-header">
    <h3>D3 sandbox</h3>
  </div>
  <div class="nav-details">
    <!-- [routerLinkActiveOptions]="{ exact: true }" -->
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/baseball">Baseball</span>
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/bubblechart">Bubble Chart</span>
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/bubblechart2">Bubble Chart2</span>
    <!-- <a class="nav-detail" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link" routerLink="/bubblechart2">Bubble Chart2</a> -->
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/nodes">Node Graph</span> 
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/map">Map</span> 
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/map2">Map2</span> 
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/mapsales">Map Sales</span> 
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/mapsales2">Map Sales2</span> 
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/brush">Brush</span> 
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/weather">Weather</span> 
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/amelia">Amelia</span> 
    <span class="nav-detail" routerLinkActive="active-link" routerLink="/jeffery">Jeffery</span> 
    <span class="nav-detail" routerLinkActive="active" routerLink="/walter">Walter</span> 
    <span class="nav-detail" routerLinkActive="active" routerLink="/maptest">Map Test</span> 
    <span class="nav-detail" routerLinkActive="active" routerLink="/geocoding">Geocoding</span> 
    <span class="nav-detail" routerLinkActive="active" routerLink="/chord">Chord</span> 
    <span class="nav-detail" routerLinkActive="active" routerLink="/chord2">Chord2</span> 
    <span class="nav-detail" routerLinkActive="active" routerLink="/barchart">Bar Chart</span> 
    <span class="nav-detail" routerLinkActive="active" routerLink="/stacked">Stacked</span> 
  </div>
</div>

<router-outlet></router-outlet>

<!-- <app-baseball></app-baseball> -->

<!-- <h1>D3 Bubble Chart with Brush</h1>
<app-bubble-chart></app-bubble-chart> -->

